# # Assignment-Sql

In [1]:
import mysql.connector as connector
from mysql.connector import Error
def getDBConnection():
    try:
        mysqlobj=connector.connect(host='localhost',database='travelling',user='root',password='mypass')
        print(type(mysqlobj))
        if(mysqlobj.is_connected()):
            print('connection achieved succefully with mysql server ',mysqlobj.get_server_version())
            crs=mysqlobj.cursor()
            print(type(crs))
            print('Cursor created..') 
    except Error as e:
        print(e)
        print('some problem while connecting with Db')
    else:
        print('connection establish suceesfully....')
    return mysqlobj,crs

def FetAllRecords():
    connection=' '
    cursor=' '
    try:
        connection,cursor=getDBConnection()
        cursor.execute('select * from items')
        record=cursor.fetchall()
        print('itemid       |   iname             |   cost             |  supid')
        for i in record:
            print(i[0],'        ',i[1],'               ',i[2],'            ',i[3])
    except Error as e:
        print (e)
        print('problem in fetching the data....')
    finally:
        cursor.close()
        connection.close()
        print('Connection closed successfully....')

In [71]:
#1.Write a Python program to create a table in database with name item(item Id,Item Name,Item cost,supplier id)
def create():
        connection=' '
        cursor=' '
        try:
            connection,cursor=getDBConnection()
            crs.execute('create table items (itemid int,iname varchar(25),cost int,supid int)')
            record=crs.fetchall()
            connection.commit()
                
        except Error as e:
            print(e)
            print('some problem while connecting with Db')
        else:
            print('connection establish suceesfully....')
        finally:
            crs.close()
            mysqlobj.close()
            print('DB Connection closed!')

In [45]:
#2.Write a Python program to insert 5 records in table by accepting data from user
def insert():
    connection=' '
    cursor=' '
    try:
            connection,cursor=getDBConnection()
            record='''insert into items (itemid,iname,cost,supid) values (%s,%s,%s,%s)'''
            records_to_insert = [(4, 'smartwatch', 1999, 2),
                             (5, 'pizza', 570, 1),
                             (6, 'bagpack', 2330, 2),(1,'burger',190,4),(3,'icecream',20,4)]
            cursor.executemany(record,records_to_insert)
            connection.commit()
            print(cursor.rowcount, "Record inserted successfully into items table")
    except Error as e:
            print (e)
            print('problem in fetching the data....')
    finally:
            cursor.close()
            connection.close()
            print('Connection closed successfully....')

In [157]:
FetAllRecords()
#insert(11,'books',2000,2)
#insert(12,'laptop',50000,6)
#insert(13,'tab',20000,4)

<class 'mysql.connector.connection_cext.CMySQLConnection'>
connection achieved succefully with mysql server  (8, 0, 27)
<class 'mysql.connector.cursor_cext.CMySQLCursor'>
Cursor created..
connection establish suceesfully....
itemid       |   iname             |   cost             |  supid
4          smartwatch                 2999              2
5          pizza                 570              1
6          bagpack                 3330              2
1          burger                 190              4
3          icecream                 20              4
11          books                 3000              2
12          laptop                 50000              6
13          tab                 20000              4
Connection closed successfully....

In [46]:
#3.Write a Python program to delete item records with item name you specified 
def DeleteRow(iname):
    connection=' '
    cursor=' '
    try:
        connection,cursor=getDBConnection()
        t1=(iname,)
        cursor.execute('delete from items where iname=%s',t1)
        connection.commit()
    except Error as e:
        print (e)
        print('problem in fetching the data....')
    finally:
        cursor.close()
        connection.close()
        print('Connection closed successfully....')

In [48]:
#DeleteRow('icecream')
FetAllRecords()

<class 'mysql.connector.connection_cext.CMySQLConnection'>
connection achieved succefully with mysql server  (8, 0, 27)
<class 'mysql.connector.cursor_cext.CMySQLCursor'>
Cursor created..
connection establish suceesfully....
itemid       |   iname             |   cost             |  supid
4          smartwatch                 1999              2
5          pizza                 570              1
6          bagpack                 2330              2
1          burger                 190              4
11          books                 2000              2
12          laptop                 50000              6
13          tab                 20000              4
Connection closed successfully....

In [18]:
#4.Write a Python program to show records with cost between 1000 to 4450
def Recorditems():
    connection=' '
    cursor=' '
    try:
        connection,cursor=getDBConnection()
        cursor=connection.cursor(buffered=True)
        cursor.execute('select * from items where items.cost between 1000 and 4450')
        record=cursor.fetchall()
        print('itemid       |   iname             |   cost             |  supid')
        for i in record:
            print(i[0],'        ',i[1],'               ',i[2],'            ',i[3])
        connection.commit()
    except Error as e:
        print (e)
        print('problem in fetching the data....')
    finally:
        cursor.close()
        connection.close()
        print('Connection closed successfully....')

In [19]:
Recorditems()

<class 'mysql.connector.connection_cext.CMySQLConnection'>
connection achieved succefully with mysql server  (8, 0, 27)
<class 'mysql.connector.cursor_cext.CMySQLCursor'>
Cursor created..
connection establish suceesfully....
itemid       |   iname             |   cost             |  supid
4          smartwatch                 2999              2
6          bagpack                 3330              2
11          books                 3000              2
Connection closed successfully....

In [43]:
#5.	Write a Python program to increase cost of item by 2000 , which are supplied by supplier id 120
def update():
    connection=' '
    cursor=' '
    try:
        connection,cursor=getDBConnection()
        cursor.execute('update items set items.cost=items.cost+2000 where supid=2')
        record=cursor.fetchall()
        connection.commit()
    except Error as e:
        print (e)
        print('problem in fetching the data....')
    finally:
        cursor.close()
        connection.close()
        print('Connection closed successfully....')

In [41]:
update()

<class 'mysql.connector.connection_cext.CMySQLConnection'>
connection achieved succefully with mysql server  (8, 0, 27)
<class 'mysql.connector.cursor_cext.CMySQLCursor'>
Cursor created..
connection establish suceesfully....
Connection closed successfully....

In [49]:
FetAllRecords()

<class 'mysql.connector.connection_cext.CMySQLConnection'>
connection achieved succefully with mysql server  (8, 0, 27)
<class 'mysql.connector.cursor_cext.CMySQLCursor'>
Cursor created..
connection establish suceesfully....
itemid       |   iname             |   cost             |  supid
4          smartwatch                 1999              2
5          pizza                 570              1
6          bagpack                 2330              2
1          burger                 190              4
11          books                 2000              2
12          laptop                 50000              6
13          tab                 20000              4
Connection closed successfully....

In [13]:
#6.Write a Python program  to fetch all itemId and itemname as key values pairs 
def Itemdetails():
    connection=' '
    cursor=' '
    try:
        connection,cursor=getDBConnection()
        cursor.execute('select itemid,iname from items')
        record=cursor.fetchall()
        for i in record:
                print(i)
        connection.commit()
    except Error as e:
        print (e)
        print('problem in fetching the data....')
    finally:
        cursor.close()
        connection.close()
        print('Connection closed successfully....')

In [14]:
Itemdetails()

<class 'mysql.connector.connection_cext.CMySQLConnection'>
connection achieved succefully with mysql server  (8, 0, 27)
<class 'mysql.connector.cursor_cext.CMySQLCursor'>
Cursor created..
connection establish suceesfully....
(4, 'smartwatch')
(5, 'pizza')
(6, 'bagpack')
(1, 'burger')
(11, 'books')
(12, 'laptop')
(13, 'tab')
Connection closed successfully....